@media screen and (max-width: 768px){
    :root {
        font-size: 50%;
    }

    .app__control {
        flex-direction: column;
    }

    .app__control-to {
        margin-left: 0;
    }

    .col-2 {
        width: 0;
    }

    .col-8 {
        width: 100%;
    }

    .app__subcontrol-wrap {
        display: flex;
    }

    .app__subcontrol {
        flex: 1;
        text-align: center;
    }

    .app__submit {
        width: calc(100% - 16px);
    }

    .app__button-wrap {
        display: flex;
        flex-direction: column;
    }
}